<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id ="bDart" class="in.mac.durga.beans.BlueDart"/>
<bean id ="dtdc" class="in.mac.durga.beans.DTDC"/>
<bean id ="fFlight" class="in.mac.durga.beans.FirstFlight"/>

<bean id ="fCart" class="in.mac.durga.beans.FlipCart">
<property name="dtdc" ref="dtdc"/>

</bean>
</beans>